[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
structlog = "*"
requests-mock = "*"

[dev-packages]
flake8 = "*"
vulture = "*"
pytest = "*"

[requires]
python_version = "3.10"
