<!-- Google tag (gtag.js) --> 
<script nonce="{{ cspNonce }}" async src="https://www.googletagmanager.com/gtag/js?id={{ config['GTM_TAG_ID'] }}"></script>

<script nonce="{{ cspNonce }}">
    var allowTrackingCookies = /^(.*)?\s*'usage':true\s*[^;]+(.*)?$/;

    if (document.cookie.match(allowTrackingCookies)) {
        window.dataLayer = window.dataLayer || []; 
        function gtag(){dataLayer.push(arguments);} gtag('js', new Date()); 
        gtag('config', '{{ config['GTM_TAG_ID'] }}');
    }
</script>

<!-- End Google tag -->