{# Create error component if error message has been flashed to use in onsAccessCode #}
{% set flashed_messages = get_flashed_messages() %}
{% set error_uac = None %}

{{flashed_messages}}
{% if flashed_messages  %}
    {%- set page_title_value = _('Error: Start study - ONS Surveys') -%}
    {%- if 'uac_empty' in flashed_messages -%}
        {%- set error_uac = {
            'id': 'uac_empty',
            'text': _('Enter an access code'),
            'field': 'uac_empty',
            'group': 'ERROR'
        } -%}
    {%- elif 'uac_invalid_length' in flashed_messages -%}
        {%- set error_uac = {
            'id': 'uac_invalid_length',
            'text': _('Enter a 16-character access code'),
            'field': 'uac_invalid_length',
            'group': 'ERROR'} -%}
    {%- elif 'uac_invalid' in flashed_messages -%}
        {%- set error_uac = {
            'id': 'uac_invalid',
            'text': _('Access code not recognised. Enter the code again.'),
            'field': 'uac_invalid',
            'group': 'ERROR'} -%}
    {%- endif -%}
{%- endif -%}


{{ onsAccessCode({
        "id": "uac",
        "name": "uac",
        
        "label": {
            "text": _("Enter your 16-character access code"),
            "description": _('Keep this code safe. You will need to enter it every time you access your study')
        },

        "securityMessage": _('Your personal information is protected by law and will be kept confidential.'),

        "error": error_uac

}) }}



